@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  font-style: normal;
  src: local("Outfit"),
    url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

@theme {
  /* colors */
  --color-*: initial;
  --color-black: #000000;

  --color-dark-navy: #1a2a33;
  --color-dark-navy-b: #10212a;
  --color-semi-dark-navy: #1f3641;

  --color-silver: #a8bfc9;
  --color-silver-h: #dbe8ed;
  --color-silver-b: #6b8997;

  --color-light-blue: #31c3bd;
  --color-light-blue-h: #65e9e4;
  --color-light-blue-b: #118c87;

  --color-light-yellow: #f2b137;
  --color-light-yellow-h: #ffc860;
  --color-light-yellow-b: #cc8b13;

  /* shadow */
  --inset-shadow-*: initial;
  --inset-shadow-m: inset 0 -4px 0 rgba(0, 0, 0, 0.25);
  --inset-shadow-l: inset 0 -8px 0 rgba(0, 0, 0, 0.25);

  /* border radius */
  --radius-*: initial;
  --radius-m: 0.625rem;
  --radius-l: 0.9375rem;

  /* fonts */
  --text-*: initial;
  --font-display: "Outfit", sans-serif;

  --text-heading-l: 2.5rem;
  --text-heading-l--letter-spacing: 0.15625rem;
  --text-heading-l--font-weight: 700;
  --text-heading-l--line-height: 3.125rem;

  --text-heading-m: 1.5rem;
  --text-heading-m--letter-spacing: 0.09375rem;
  --text-heading-m--font-weight: 700;
  --text-heading-m--line-height: 1.875rem;

  --text-heading-s: 1.25rem;
  --text-heading-s--letter-spacing: 0.078125rem;
  --text-heading-s--font-weight: 700;
  --text-heading-s--line-height: 1.5625rem;

  --text-heading-xs: 1rem;
  --text-heading-xs--letter-spacing: 0.0625rem;
  --text-heading-xs--font-weight: 700;
  --text-heading-xs--line-height: 1.25rem;

  --text-body: 0.875rem;
  --text-body--letter-spacing: 0.05rem;
  --text-body--font-weight: 500;
  --text-body--line-height: 1.125rem;

  --text-label: 0.75rem;
  --text-label--letter-spacing: 0.046875rem;
  --text-label--font-weight: 500;
  --text-label--line-height: 0.9375rem;

  /* spacing */
  --spacing-game: 28.75rem;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply uppercase;
  }

  body {
    @apply font-display bg-dark-navy uppercase;
  }

  main {
    @apply h-screen flex flex-col items-center justify-center;
  }

  input,
  button {
    @apply cursor-pointer;
  }
}
